
.DS_Store
GH3/stfs_rb3con
GH3/compile.sh
GH3/STFS/dl2000000000.pak.xen
GH3/ps3.sh
GH3/xbox.sh
GH3/*_strings.q
*.bat
*.pkg
*.PAK*
*.pak*
*.xen
!GH3/PKG*/*
!GH3/STFS/*
GH3/compile all to RPCS3.bat
